src/test/resources/hbase-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
	<!--

		Mule HBase Cloud Connector Copyright (c) MuleSoft, Inc. All rights
		reserved. http://www.mulesoft.com The software in this package is
		published under the terms of the CPAL v1.0 license, a copy of which
		has been included with this distribution in the LICENSE.txt file.
	-->

	<!--

		This file was automatically generated by the Mule Cloud Connector
		Development Kit
	-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:hbase="http://www.mulesoft.org/schemas/mule/hbase"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schemas/mule/hbase http://www.mulesoft.org/schemas/mule/hbase/1.0/mule-hbase.xsd">

	<spring:bean id="mockFacade"
		class="org.mule.module.hbase.config.MockHBaseServiceFactoryBean"
		factory-method="getObject" />
	<hbase:config facade-ref="mockFacade" />

	<flow name="flowGet">
		<hbase:get-values tableName="t1" rowKey="r1" />
	</flow>

	<flow name="flowPut">
		<hbase:put-value tableName="t1" rowKey="r1"
			columnFamilyName="f1" columnQualifier="q1" value="v1" />
	</flow>

	<flow name="createTable">
		<inbound-endpoint address="vm://createTable"
			exchange-pattern="request-response" />
		<hbase:create-table tableName="#[head:name]" />
	</flow>

	<flow name="deleteTable">
		<inbound-endpoint address="vm://deleteTable"
			exchange-pattern="request-response" />
		<hbase:delete-table tableName="#[header:tableName]" />
	</flow>

	<flow name="isEnabledTable">
		<inbound-endpoint address="vm://isEnabledTable"
			exchange-pattern="request-response" />
		<hbase:is-enabled-table tableName="#[header:tableName]" />
	</flow>

	<flow name="enableTale">
		<inbound-endpoint address="vm://enableTale"
			exchange-pattern="request-response" />
		<hbase:enable-table tableName="#[header:tableName]" />
	</flow>

	<flow name="disableTable">
		<inbound-endpoint address="vm://disableTable"
			exchange-pattern="request-response" />
		<hbase:disable-table tableName="#[header:tableName]" />
	</flow>


	<flow name="isAliveServer">
		<inbound-endpoint address="vm://isAliveServer"
			exchange-pattern="request-response" />
		<hbase:is-alive-server />
	</flow>

	<flow name="addColumn">
		<inbound-endpoint address="vm://addColumn"
			exchange-pattern="request-response" />
		<hbase:add-column-family tableName="#[header:tableName]"
			columnFamilyName="#[header:columnFamiliyName]" />
	</flow>


	<flow name="existsColumn">
		<inbound-endpoint address="vm://existsColumn"
			exchange-pattern="request-response" />
		<hbase:exists-column-family tableName="#[header:tableName]"
			columnFamilyName="#[header:columnFamiliyName]" />
	</flow>

	<flow name="modifyColumn">
		<inbound-endpoint address="vm://modifyColumn"
			exchange-pattern="request-response" />
		<hbase:modify-column-family tableName="#[header:tableName]"
			columnFamilyName="#[header:columnFamiliyName]" blocksize="#[header:blockSize]"
			compactionCompressionType="LZO" />
	</flow>

	<flow name="getValues">
		<inbound-endpoint address="vm://getValues"
			exchange-pattern="request-response" />
		<hbase:get-values tableName="#[header:tableName]"
			rowKey="#[header:rowKey]" />
	</flow>

	<flow name="putValue">
		<inbound-endpoint address="vm://putValue"
			exchange-pattern="request-response" />
		<hbase:put-value tableName="#[variable:tableName]"
			columnFamilyName="#[variable:columnFamiliyName]" columnQualifier="#[variable:columQualifier]"
			rowKey="#[variable:rowKey]" value="#[variable:value]" />
	</flow>

	<flow name="deleteValues">
		<inbound-endpoint address="vm://deleteValues"
			exchange-pattern="request-response" />
		<hbase:delete-values tableName="#[variable:tableName]"
			rowKey="[variable:rowKey]" />
	</flow>

	<flow name="scanTable">
		<inbound-endpoint address="vm://scanTable"
			exchange-pattern="request-response" />
		<hbase:scan-table tableName="#[map-payload:tableName]"
			columnFamilyName="#[map-payload:columnFamiliyName]" startRowKey="#[map-payload:firstRowKey]" />
	</flow>

	<flow name="incrementValue">
		<inbound-endpoint address="vm://incrementValue"
			exchange-pattern="request-response" />
		<hbase:increment-value tableName="#[map-payload:tableName]"
			columnFamilyName="#[map-payload:columnFamiliyName]"
			columnQualifier="#[map-payload:columQualifier]" 
			rowKey="#[map-payload:rowKey]"
			amount="10"
			writeToWAL="false"/>
	</flow>



</mule>
